<div class="pageTitle">Comment with ID = @ViewData["deletedCommentId"] has been deleted!</div>
<a href="/topics/viewtopic/@ViewData["parentTopic"]">
	<div class="pageExplanation">Press here to return to topics list.</div>
</a>
