:root {
    --tertiary_color: rgb(235, 219, 255);
    --secondary_color: rgb(101, 47, 153);
    --primary_color: rgb(198, 133, 255);
}
a {
    text-decoration: none;
}
html {
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.pageContent {
    margin-top: 12rem; /*(6 + 2) + margin of 4*/
    margin-bottom: 4rem;
}
.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7.5rem;
}
.navigationBackground {
    min-width: 100%;
    min-height: 6rem;
    background-color: var(--primary_color);
    overflow: hidden;
}
.navigationBar {
    display: flex;
    background-color: var(--primary_color);
    justify-content: center;
    border-top: 0.15rem solid var(--secondary_color);
    border-bottom: 0.15rem solid var(--secondary_color);
}
.navigationBarLeft {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.navigationBarRight {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.navigationBarButton {
    min-height: 2rem;
    width: 5.75rem;
    color: white;
    background-color: var(--primary_color);
    border: 0.1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: var(--tertiary_color);
    font-weight: bold;
}
.navigationBarButton:hover {
    cursor: pointer;
    color: white;

}

.navigationBarButtonText {
    margin-left: auto;
    margin-right: auto;
}


/*
    CSS CLASSES FOR TOPICS
*/

.topicContainer {
    margin-left: auto;
    margin-right: auto;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    min-width: 48rem;
    max-width: 80%;
    padding: 0.5rem;
    margin-bottom: 2rem;
}
.topicContainer.isFirst {
    margin-top: 2rem;
}

.topicContainer.preview {
    max-height: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topicCreator {
    color: grey;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.topicTitle {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topicContent {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topicOptionsContainer {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

/*

*/
.pageTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.pageExplanation {
    font-weight: bold;
    text-align: center;
    color: grey;
    margin-bottom: 2rem;
}
.pageEnd {
    font-weight: bold;
    color: grey;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}
.pageOkMessage {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: forestgreen;
    font-weight: bold;
}
.pageDeniedMessage {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: red;
    font-weight: bold;
}


/*
    CSS CLASSES FOR ACCOUNTS FORMS (LIKE REGISTRATION AND LOGIN)
*/

.accountsFormContainer {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.accountsFormContainer.topicsSize {
    width: 36rem;
}
.accountsFormLabel {
    text-align: center;
    font-weight: bold;
}
.accountsFormInput {
    padding: 0.5rem;
    border: 0.175rem solid black;
    border-radius: 0.75rem;
}
.accountsFormInput.topicsContent {
    min-height: 24rem;
}
.accountsFormButton {
    width: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 0.175rem solid black;
    border-radius: 0.35rem;
}

.accountsFormButton:hover {
    background-color: white;
    cursor: pointer;
}
.topicsFormContainer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    min-width: 30rem;
    gap: 0.5rem;
}
.topicsFormLabel {
    font-weight: bold;
}
.topicsFormInput {
    border: 0.175rem solid black;
    border-radius: 0.75rem;
}
.topicsFormInput.textBox {
    border: 0.175rem solid black;
    border-radius: 0.75rem;
}
.topicsFormButton {
    margin-top: 0.5rem;
    width: 6rem;
    height: 3rem;
    color: black;
    background: white;
    font-weight: bold;
    border: 0.175rem solid black;
    border-radius: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
.topicsFormButton:hover {
    background: var(--primary_color);
    color: white;
    cursor: pointer;
}
